body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f2937;
  padding: 1em 13em;
}

#logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5em;
}

.secondary,
a:link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* WELCOME */
.welcome {
  padding: 7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.welcome .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.welcome .right {
  flex-shrink: 0;
  width: 50%;
}

.hero {
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

button {
  padding: 7px 1em;
  width: 120px;
  background-color: #3882f6;
  border-radius: 8px;
}

.welcome button {
  border: none;
}

.image {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 215px;
}

.quote {
  background-color: #e5e7eb;
}

.quote p {
  font-size: 36px;
  color: #1f2937;
}

